body { background: #4d1d04; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 31px; display: flex; }
.block-user-0 { color: #359064; font-size: 14px; margin-bottom: 5px; }
.block-product-1 { color: #ab810e; font-size: 16px; margin-bottom: 5px; }
.block-validator-2 { color: #ab04d0; font-size: 16px; margin-bottom: 5px; }
.block-metrics-3 { color: #4999b1; font-size: 19px; margin-bottom: 5px; }
.block-search-4 { color: #5f57c5; font-size: 14px; margin-bottom: 5px; }